@tailwind base;
@tailwind components;
@tailwind utilities;

/* ==================== Global Rules ==================== */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.Reviews-container {
  margin: 0;
  padding: 0;
}

.parallax {
  background-attachment: fixed;
}
:root {
  --hover-color: #c6783e;
  --text-color: #1f2937;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
}

html {
  scroll-behavior: smooth;
  color: #1f2937;
}

* {
  font-family: "Jost", sans-serif;
  /* font-family: "Roboto", sans-serif; */
  /* font-family: "Playfair Display", serif; */
}

h1 {
  font-family: "Marcellus", serif;
  color: #1f2937;
}

.active-menu {
  color: var(--hover-color);
}

.active-menu::after {
  content: "";
  height: 3px;
  width: 100%;
  background-color: var(--hover-color);
  position: absolute;
  top: 95px;
  left: 0;
  border-radius: 20%;
}

.back-rectangle::after {
  content: "";
  height: 5%;
  width: 100%;
  background-color: #c6783e;
  position: absolute;
  top: 600px;
  left: 20px;
  z-index: 20;
}
.back-rectangle::before {
  content: "";
  height: 100%;
  width: 5%;
  background-color: #c6783e;
  position: absolute;
  top: 30px;
  right: -30px;
  z-index: 20;
}

.gradient {
  background-color: #ffdee9;
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
}
